@media (max-width: 500px) {
    #navbar{
        display: block;
        text-align: center;
    }
    #navbar ul{
        margin: 0.5rem 0rem;
        justify-content: center;
    }   
    #showcase .showcase-content{
        top:110px;
}
#who{
    display: block;
}
#who .left-info{
    display: none;
}
#clients .logos img{
    width: 80%;
}
#clients .logos div:last-child{
    display: none;
}
#contact{
    display: block;
}
#contact .map{
    border-top: 2px #333 solid;
}
}
#what .items{
    display: block;
}
#what .items .item{
    display: flex;
    text-align: left;
    margin-bottom: 1rem;
}
#what .items .item i{
    margin-right: 0.75rem;
    align-self: center;
}
